matplotlib==3.3.4
streamlit==1.0.0
pandas==1.2.2
tensorflow==1.12.0
noisereduce==1.1.0
pydub==0.24.1
Keras==2.2.4
scipy==1.6.0
numpy==1.19.5
ipython==7.28.0
joblib==1.1.0
librosa==0.8.1
Pillow==8.4.0
protobuf==3.18.1
scikit_learn==1.0
